article {
  border: solid;
  display: block;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  border: solid;
  font-size: 18px;
}

header-firstdiv {
  margin: 10px;
  /* display: flex; */
  align-items: center;
  display: inline-flex;
}

header-firstdiv img {
  width: 100px;
}

header-fistdiv h1 {
  margin: 18px;
}

header-2nddiv h1 {
  margin: 20px;
}
