#navbar-nav {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #fff;
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.navbar-header {
  font-size: 1.5em;
  padding: 10px;
  margin-left: 1.5em;
}

.write-tweet {
  background-color: #4056a1;
  color: #fff;
  margin-right: 1.5em;
  text-transform: none;
}

.fa-angle-double-down {
  color: red;
  display: block;
  text-align: center;
  margin: 15px;
}
