.new-tweet {
  margin: 1em;
}

.tweet-text {
  font-weight: 600;
  font-size: 1.5em;
}

#tweet-textarea {
  display: block;
  width: 100%;
  background-color: #f4f1ec;
  border: none;
  border-bottom: solid #9b9b9b;
  margin-bottom: 0.75em;
}

.tweet-container {
  border: none;
  display: flex;
  justify-content: space-between;
}

.tweet-button {
  background-color: #4056a1;
  color: #fff;
  font-family: "Bungee", sans-serif;
  padding: 8px;
  margin: 5px;
}

.tweet-button:hover {
  background-color: #a18b40;
}

.counter {
  float: right;
  font-family: "Bungee", sans-serif;
}

/* Validations */
.error {
  color: red;
  border: 3px solid red;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

.fa-exclamation-triangle {
  color: red;
}

@media screen and (max-width: 1023px) {
  .new-tweet {
    margin-top: 2em;
  }
}
